**quiz question review**

In [9]:
#quiz question review 
#Code A:

a=1

for i in range(4):
  if i<=1:    
    a+= 1

print(a)

3

 
A only prints an output once because the print(a) code is outside the for loop block of code.  


In A, the last value of i in the range(4) loop is 3.

In [20]:
#Code B: 
a=1

for i in range(4): 
  if i<=1:    
    a+= 1        
    
    print(a)    

print(a)

2
3
3

B prints an output 3 times. The first 2 is printed because when i=0, a=1+1=2. Then, 3 is printed because when i=1, a=2+1=3. The third and final 3 is printed because once i goes through all the numbers in range(4) and thus finishes the for loop, the variable a is now 3.  



B prints an output 3 times. The first 2 is printed because when i=0, a=1+1=2. Then, 3 is printed because when i=1, a=2+1=3. The third and final 3 is printed because once i goes through all the numbers in range(4), the last value of i in range(4) is 3.

**dictionary manipulation**

In [13]:
#We have the following dictionary: grades = {'Adam':'B', 'Sandler':'A+', 'Drake':'A', 'Cate':'A'} 
#What code can you enter to add Sylviaâ€™s grades into the above dictionary. Sylvia got an A+. 

grades = {'Adam':'B', 'Sandler':'A+', 'Drake':'A', 'Cate':'A'}

In [14]:
#add an entry
grades["Syliva"] = "A+" 
grades

{'Adam': 'B', 'Sandler': 'A+', 'Drake': 'A', 'Cate': 'A', 'Syliva': 'A+'}

In [17]:
#get value of key
grades['Adam']

'B'

In [19]:
#test if key is in dictionary 
'Adam' in grades

True

In [18]:
#get the keys and values of a dictionary
print(grades.keys())
print(grades.values())

dict_keys(['Adam', 'Sandler', 'Drake', 'Cate', 'Syliva'])
dict_values(['B', 'A+', 'A', 'A', 'A+'])

**lambda function**

In [3]:
#to define a function 
def adding(a,b):
    return a+b

adder= adding(2,3)
print(adder)

5

In [23]:
#lambda functions can be a concise way to express a function 
x = lambda a, b: a + b
print(x(2,3))

5

In [7]:
x = lambda a, b : a * b
print(x(2, 3))

6

In [8]:
x = lambda a : a + 5
print(x(3))

8

In [ ]:
#exercise: create a lambda function where you multiply 2 numbers and add its product to a third number 
#e.g. 2*3+7

**read csv file from github**

In [5]:
import pandas as pd

url = "https://raw.githubusercontent.com/shionguha/inf1340-programmingfordatascience-fa22/main/data/2014-baby-names-illinois.csv"
df = pd.read_csv(url)
print(df.head(5))

   rank       name  frequency   sex
0     1       Noah        837  Male
1     2  Alexander        747  Male
2     3    William        687  Male
3     4    Michael        680  Male
4     5       Liam        670  Male